html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@import url('https://rsms.me/inter/inter.css');
html,
body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢;
  content: none;
}

/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Theme Colors */

.bitcoin_back {  background-color: #F5AA00;}
.heuristics_back {background-color: #000000;color: #fff;}
.bitcoin-improvement_back {  background-color: #7B7B7B}
.hodling_back {  background-color: #00B43E}
.dirty-fiat_back {  background-color: #1236CE}
.network-attacks_back {  background-color: #E010D0}
.exchange-attacks_back {  background-color: #FF0000}



.bitcoin_color {color: #000; }
.heuristics_color {color: #000; }
.bitcoin-improvement_color {color: #7B7B7B; }
.hodling_color {color: #00B43E; }
.dirty-fiat_color {color: #1236CE; }
.network-attacks_color {color: #E010D0; }
.exchange-attacks_color {color: #FF0000; }

body {
  background: #fff;
}

.card {
  display: inline-block;
  margin: 5px;
}

.card-back,
.card-front {
  width: 200px;
  height: 295px;
  display: block;
  display: inline-block;
  vertical-align: top;
  border-radius: 12px;
  /* padding: 16px; */
}

.card-back {
  background: #fff;
  position: relative;
  border: 1px #dadada solid;
}

.card-front {
  color: #FFF;
  font-weight: 700;
  text-align: center;
}


.card-category {
  position: relative;
  top: 50%;
  width: 110%;
  height: 30px;
  margin-top: -15px;
  margin-left: -2%;
  transform: rotate(90deg);
  font-size: 150%;
}


.bitcoin-improvement .card-category {
  margin-left: 1%;
}


.card-category span {
    display: inline-block;
    vertical-align: sub;
}

.card-front .price{
  opacity: 0.5;
  font-size:50%;
  display: inline-block;
  position: absolute;
  padding-top:10px;
    width:100%;
    left:0
}

.card-back .title {
  text-align: center;
  font-weight: 800;
  padding: 20px 20px 10px;
}

.card-back .card-id {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #929292;
  font-size: 40%;
}



.card-back .card-illus {
  width: 51%;
  margin: auto;
}

.card-back .card-illus img{
  width: 100%;
}


.card-back .description {

  padding: 5px 20px;
  font-size: 70%;
  line-height: 1.5em;
  /*text-align:center;*/
}






.card-back .description .influence {
  padding-top: 10px;
  margin-top:10px;
  border-top: 1px solid #eaeaea;
  display: block;
  font-size: 70%;
  line-height: 1.5em;
  font-weight: bold;
}


.influence-effect {
    display: inline-block;
}



.circle{
    display: inline-block;
    border-radius: 130px;
    margin: 2px 0;
    width:10px;
    height:10px;
    vertical-align: bottom;
}


.influence-theme-text{
  display: inline-block;
}





.influence-effect.negative {
    color: #c72e2e;
}

.influence-effect.neutral {
    color: #d8d8d8;
}


.influence-effect.positive {
    color: #4e9650;
}

.influence-effect.negative_back {
    background-color: #c72e2e;
}

.influence-effect.neutral_back {
    background-color: #d8d8d8;
}

.influence-effect.positive_back {
    background-color: #4e9650;
}






#buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.button {
  float: left;
  margin: 0px 20px 0 0;
  padding: 10px 20px 8px 20px;
  background: #f5f5f5;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.button:hover {
  background: #eaeaea;
}








